.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
  transition: transform 0.3s ease;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  animation: Moveline 6s linear forwards;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }
}
